venv/*

NetworkInterfaces': [{'Attachment': {'AttachTime': datetime.datetime(2021, 3, 7, 13, 46, 12, tzinfo=tzutc()), 'AttachmentId': 'eni-attach-070adb5bdb6642be8', 'DeleteOnTermination': True, 'DeviceIndex': 0, 'Status': 'attached'}, 'Description': '', 'Groups': [{'GroupName': 'launch-wizard-1', 'GroupId': 'sg-077920ba502c985cd'}], 'Ipv6Addresses': [], 'MacAddress': '0a:9e:fd:f5:d1:8c', 'NetworkInterfaceId': 'eni-0013a2744f769ea77', 'OwnerId': '714283243427', 'PrivateDnsName': 'ip-172-31-39-67.eu-north-1.compute.internal', 'PrivateIpAddress': '172.31.39.67', 'PrivateIpAddresses': [{'Primary': True, 'PrivateDnsName': 'ip-172-31-39-67.eu-north-1.compute.internal', 'PrivateIpAddress': '172.31.39.67'}], 'SourceDestCheck': True, 'Status': 'in-use', 'SubnetId': 'subnet-096bcf72', 'VpcId': 'vpc-5f159136', 'InterfaceType': 'interface'}]